.SignupSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:15vh 0;
    font-size: 2rem;
}
.Section{
    box-shadow: 8px 8px 24px 0px rgba(66, 68 , 90, 1);
    border-radius: 5%;
    width:100%;
    max-width: 400px;
    max-height:80vh;
    padding:2rem;

    
}
.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 25px;

}
.inputbox{
    padding:10px;
    border:none;
    border-bottom: 2px solid #000;
    max-width: 350px;

}
.btn{
    border:none;
    color:chocolate;
    background-color: green;
    border-radius: 50px;
    padding:20px;
    font-size: 1rem;
    font-style:italic;
    margin-top: 1rem;
    margin-left:35%;
}