*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.HeaderComponent{
    font-size: 24px;
    /* color:blue; */
    background-color: blue;
    height:5rem;
    width:100vw;
}

.HeaderSection{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row; */
}


.ContainerSet .Set .list .link{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    padding:0rem 1rem;
}
.flex{
    display: flex;
    flex-direction: row;
}

ul li{
    color: rgba(171, 231, 75, 0.842);
}
a:link{
    text-decoration: none;
    /* color: rgb(18, 238, 66); */
}
a:hover{
    color: orange;
}
a:active{
    color: orange;
}