*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.HeaderComponent{
    font-size: 24px;
    /* color:blue; */
    background-color: blue;
    height:5rem;
    width:100vw;
}

.HeaderSection{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row; */
}


.ContainerSet .Set .list .link  {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    padding:0rem 1rem;
    /* color: green; */
}
.flex{
    display: flex;
    flex-direction: row;
}

.link{
    color: rgb(255, 21, 13);
}
.link:hover{
    color: rgb(69, 235, 27);
}

a:link{
    text-decoration: none;
    /* color: rgb(18, 238, 66); */
    /* color: green; */
    color: rgb(255, 21, 13);

}
a:hover{
    color: rgb(19, 228, 11);
}
a:active{
    color: orange;
}